{{{html-title-heading}}}
{{#data-portlets.data-languages}}
<a href="#p-lang" class="mw-interlanguage-selector">
	<button class="cdx-button cdx-button--action-default content__language-btn">{{msg-otherlanguages}}</button>
</a>
{{/data-portlets.data-languages}}
