<ul class="mw-edit-bar">
    {{#data-portlets.data-views}}
    {{#array-items}}{{>ListItem}}{{/array-items}}
    {{/data-portlets.data-views}}
    {{#data-portlets.data-namespaces}}
    {{#array-items}}{{>ListItem}}{{/array-items}}
    {{/data-portlets.data-namespaces}}
</ul>
