<footer id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
    {{#data-footer}}
    {{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
    {{!}}<div id="footer-list">
    <div id="copyright">{{#data-copyright}}{{{html}}}{{/data-copyright}}</div>
    {{!}}{{#data-places}}{{>FooterList}}{{/data-places}}
    {{!}}</div>
    {{/data-footer}}
</footer>
